.box {
  padding: 15px;
  margin: 10px 0;
  border: 2px solid black;
  text-align: center;
  transition: 0.3s;
}

/* ngClass effect (BIG change) */
.active-box {
  background-color: yellow;
  color: red;
  font-weight: bold;
  border-radius: 15px;
  transform: scale(1.1);
  box-shadow: 0 0 15px black;
}
